/* Element Styles */
body {
    background-image: url(../images/stars2.jpg);
}

/* Class Styles */
.light-side {
    background-color: #10fefe;
    color: black;
}

.dark-side {
    background-color:#f80328;
    color: black;
}

/* ID Styles */
#title-image {
    border-color:  #f4e51a;
    border-style: solid;
    border-width: 4px 4px;
    border-radius: 25px;
}

#start-instruct h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4e51a;
}

#scoreboard h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4e51a;
}

