/* Element Styles */
body {
    background-image: url(../images/stars2.jpg);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4e51a;
    font-style: italic;
}

/* Class Styles */
.light-side {
    background-color: #10fefe;
    color: black;
}

.light-side-box {
    background: none;
    border-color:  #10fefe;
    border-style: solid;
    border-width: 5px 5px;
    border-radius: 25px;
    text-align: center;
}

.dark-side {
    background-color:#f80328;
    color: black;
}


.dark-side-box {
    background: none;
    border-color:  #dcdce5;
    border-style: solid;
    border-width: 5px 5px;
    border-radius: 25px;
    text-align: left;
}

/* ID Styles */
#title-image {
    border-color:  #f4e51a;
    border-style: solid;
    border-width: 4px 4px;
    border-radius: 25px;
}

#start-instruct,
#word-element,
#player-win,
#player-fail h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4e51a;
}

#scoreboard,
#input, 
#attempt-detail,
#guess-element h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4e51a;
}

#word-element h1 {
    font-size: 85px;
}

#player-fail,
#player-win {
    text-align: center;
}

#fail-image {
    width: 400px;
    height: 400px;
}

#win-image {
    width: 600px;
    height: 400px;
}

#too-easy {
    margin: 30px 0;
}

